@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-body: var(--font-body);
  --font-heading: var(--font-heading);
  --font-plain: var(--font-plain);
  --font-cookie: var(--font-cookie);
  --font-github: var(--font-github);
  --font-mono: var(--font-mono);
  --coffee-yellow: #ffdd00;
  --coffee-red: #ff5f5f;
  --github-black: #101411;
  --purple-black: #0e0518;
  --purple-white: #f8f2ff;
}

.light {
  --background: var(--purple-white);
}

.dark {
  --background: var(--purple-black);
}
