@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "font", sans-serif;
  --font-mono: "monospace", monospace;
  --font-cookie: var(--font-cookie);
  --font-heading: var(--font-heading);
  --coffee-yellow: #ffdd00;
  --coffee-red: #ff5f5f;
}
